@media only screen and (max-width: 575px) {
    .p-about {
       margin: 0 0 0 0 !important;
       padding-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 575px) {
    .p-about {
       margin-right: 28px !important;
       /* padding-top: 20px !important; */
    }
  }
  
  
/* HIDE BUTTON LINK TOFFIN APP / POPUP QR */
    /* @media (min-width: 991.98px) {
      .mobile-app-link {
        display: none !important;
        visibility: hidden !important;
      }
    }
    @media (max-width: 991.98px) {
      .dekstop-app-link {
        display: none !important;
        visibility: hidden !important;
      }
    } */
/* HIDE BUTTON LINK TOFFIN APP / POPUP QR */


/* MODAL MENTOR */
/* .modal-window {
  position: fixed;
  background-color: #000000a9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 90%;
  max-width: 500px;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  overflow:auto;
}

.modal-close {
  background: #ff0000;
  color: #ffffff;
  line-height: 30px;
  font-size: 80%;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  width: 30px;
  border-radius: 50px;
  text-decoration: none;
}

.modal-close:hover {
  color: black;
}

.modal-window > div {
  border-radius: 1rem;
} */
/* MODAL MENTOR */



/* Main Ticket Style */
.ticketContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.ticket{
  animation: bouncingCard 0.6s ease-out infinite alternate;
  background-color: #5e0203;
  color: #ffffff;
  border-radius: 12px;
  width: 100%;
}
.ticketShadow{
  animation: bouncingShadow 0.6s ease-out infinite alternate;
  margin-top: 4px;
  width: 95%;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(12px);
}

/* Ticket Content */
.ticketTitle{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 12px 16px 4px;
}
hr{
  width: 90%;
  border: 1px solid #ffffff;
}
.ticketDetail{
  font-size: 1.1rem;
  font-weight: 500;
  padding: 4px 16px;
}
.ticketSubDetail{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 12px 16px;
}
.ticketSubDetail .code{
  margin-right: 24px;
}

/* Ticket Ripper */
.ticketRip{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circleLeft{
  width: 12px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 0 12px 12px 0;
}
.ripLine{
  width: 100%;
  border-top: 3px solid #ffffff;
  border-top-style: dashed ;
}
.circleRight{
  width: 12px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 12px 0 0 12px;
}

/* Ticket Bouncing Animation */
@keyframes bouncingCard {
  from { transform: translateY(0);}
  to {transform: translateY(-18px);}
}
@keyframes bouncingShadow {
  from { transform: translateY(0px);}
  to {transform: translateY(4px);}
}