.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.color-swatch {
    width: 30px;
    height: 30px;
    display: inline-block; /* Or block, depending on your layout */
    border-radius: 50%; /* Makes it circular */
  }

  #map {
    height: 550px;
    width: 100%;
  }

.footer-bg {
  background-color:#B4864D;
}

.justify-content {
  justify-content: center !important;
}