@font-face {
    font-family: gotham_thin;
    src: url(../font/copyfonts.com_gotham_thin.ttf);
}

@font-face {
    font-family: gotham_bold;
    src: url(../font/copyfonts.com_gotham_bold.ttf);
}

@font-face {
    font-family: gotham_ultra;
    src: url(../font/copyfonts.com_gotham_ultra.ttf);
}

@font-face {
    font-family: gotham_light;
    src: url(../font/copyfonts.com_gotham_light.ttf);
}

@font-face {
    font-family: gotham_book;
    src: url(../font/Gotham-Book.otf);
}

@font-face {
    font-family: sathonmedium;
    src: url(../font/DB.html\ Sathorn\ Medium\ X.ttf);
}

@font-face {
    font-family: sathon;
    src: url(../font/DB.html\ Sathorn\ X.ttf);
}

@font-face {
    font-family: gotham_medium;
    src: url(../font/Gotham.html\ Medium \Regular.ttf);
}

@font-face {
    font-family: sukhumvit-light;
    src: url(../font/SukhumvitSet-Light.ttf);
}

@font-face {
    font-family: sukhumvit-light;
    src: url(../font/SukhumvitSet-Light.ttf);
}

@font-face {
    font-family: sukhumvit;
    src: url(../font/SukhumvitSet-Text.ttf);
}

@font-face {
    font-family: sukhumvit;
    src: url(../font/SukhumvitSet-Text.ttf);
}

/* home */
.eapps-instagram-feed-posts-item-text {
    font-family: sukhumvit-light !important;
}

.txtexclusive {
    font-family: sukhumvit !important;
}

body,
html {
    font-family: gotham_light !important;
    /* font-family: sukhumvit !important; */
    height: 100%;
}

video {
    width: 100%;
}

footer {
    border-top: 1px solid #000000;
}

.setfooter {
    padding-left: 150px;
    padding-right: 150px;
}
.br-detail{
    width: 5%;
    border: 1px solid #c9c9c9;
}
.discount-detail{
    background-color: #000;
    color: #fff;
}
.discount-price {
    text-decoration: line-through;
}
.position-detail-po{
    position: absolute;
    right: 0%;
    top: 4px;

}
.fixed-text-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.img-fix-detail{
    width: 100% !important;
    height: 140px;
    object-fit: cover;
}

.w-100 {
    width: 100% !important;
}
.object{
    object-fit: contain;
}
.fix-img-h-home{
	overflow: hidden;
	height: 505px;
}

@media screen and (min-width:1200px) {
    .setbody {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.page-header .breadcrumb {
    background-color: #fafafa !important;
}

.setsmegstory {
    /* font-family:gotham_light !important; */
    font-family: sukhumvit !important;
    font-size: 20px;
    padding-top: 20px;
}

.navbar-fixed-top.scrolled {
    background-color: rgb(0, 0, 0) !important;
    transition: background-color 100ms linear;
    border-bottom: rgb(255, 255, 255) 2px solid;
}

.menu-right .search-product {
    margin-top: 27px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

.menu-right .search-box {
    visibility: hidden;
    padding-top: 18px;
    padding-right: 10px;
}

.menu-right #search-product {
    width: 66% !important;
    position: absolute;
    left: 8%;
}

.btn-relative {
    position: relative;
    z-index: 9999;
}

.search-product-mobile #search-product {
    width: 140%;
}

.mobile a.search-product {
    color: #ffffff;
    padding-top: 27px;
}

.search-product-mobile a.search-product {
    color: #ffffff;
    padding-top: 9px;
}

#landdingpage {
    top: 25% !important;
}

#landdingpage img {
    max-width: 100%;
    max-height: 100%;
}

#mySidenav #search-product {
    font-size: 21px;
    border: none;
    border-bottom: 1px solid #ced4da;
    padding-left: 0px;
    border-radius: 0px;
    width: 120% !important;
}

#mySidenav .search-box {
    padding: 10px 0 0 58px;
}

#mySidenav .search-product {
    padding: 26px 32px 0 10px;
    font-size: 18px;
}

.btn-category-new {
    width: 100%;
    background-color: #fff;
    color: #000;
    border: 1px solid #c3bcbc;
}

.btn-category-new:hover {
    color: #000 !important;
}

.settopexclusivesmeg {
    margin-top: 70px;
}

/* .story::before{
content:'•';
position: absolute;
bottom: 0;
color: #bfbfbf;
top:-6%;
font-size: 23px;

} */
/* a:link, span.MsoHyperlink{
color: #000 !important;
text-decoration: none !important;
} */

.description_product img {
    max-width: 100%;
    height: auto !important;
}

#product_details img {
    max-width: 100%;
    height: auto !important;
}

.control1 {
    width: auto;
    z-index: 17;
}

.control6left {
    width: auto;
    z-index: 17;
    margin-left: -60px
}

.control6right {
    width: auto;
    z-index: 17;
    margin-right: -59px;
}

.carousel-control-prev-icon1,
.carousel-control-next-icon1 {
    height: 60px;
    width: 60px;
    outline: black;
    background-size: 100%, 100%;
    /* border-radius: 50%; */
    background-color: #ccc;
    color: #000;
    font-size: 24px;
    padding: 17%;
}

.carousel-control-next-icon1.sectwo {
    height: 55px;
    width: 50px;
    outline: black;
    background-size: 100%, 100%;
    /* border-radius: 50%; */
    background-color: #fff;
    color: #000;
    font-size: 24px;
    padding: 17%;
}

.carousel-control-next-icon1:after {
    font-size: 40px;
    color: #000;
}

.carousel-control-prev-icon1:after {
    font-size: 40px;
    color: #000;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.pd-0 {
    padding: 0 0 0 0;
}

.pd-10new {
    padding: -1px 45px 10px 45px;
}

.pd-10 {
    padding: 10px 45px 10px 45px;
}

.mgt-ng-20 {
    margin-top: -20px;
}

.mg-0 {
    margin: 0 0 0 0;
}

.mglr-10 {
    margin: 0 10px 0 10px;
}

.pdlr-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.pdl-0 {
    padding-left: 0px;
}

.pdr-0 {
    padding-right: 0px;
}

.pdlr-10 {
    padding: 0 10px 0 10px;
}

.pdlr-20 {
    padding: 0 20px 0 20px;
}

.mgt-10 {
    margin: 10px 0 0 0;
}

.mgt-20 {
    margin: 20px 0 0 0;
}

.mgt-50 {
    margin-top: 50px;
}

.mgb-50 {
    margin-bottom: 50px;
}

.mgt-30 {
    margin-top: 30px;
}

.mgt-80 {
    margin-top: 80px;
}

.mgt-100 {
    margin-top: 100px;
}

.mgb-20 {
    margin-bottom: 20px;
}

.mgb-50 {
    margin-bottom: 50px;
}

.mgr-10 {
    margin-right: 10px;
}

.mglr-50 {
    margin-right: 50px;
    margin-left: 50px;
}

.mglr-80 {
    margin-right: 80px;
    margin-left: 80px;
}

.mgl-down15 {
    margin-left: -15px;
}

.mgl-80 {
    margin-left: 80px;
}

.carousel-indicators {
    right: 0;
    left: inherit;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.carousel-indicators.sectwo {
    right: inherit;
    left: 0;
    margin-left: 13%;
    bottom: 12%;
    z-index: 998;
}

.carousel-indicators.secsix {
    right: inherit;
    left: 0;
    margin-left: 22%;
    bottom: 1%
}

.carousel-indicators.slidepersmeg {
    margin-right: 37%;
}

.carousel-indicators.slidenews {
    position: absolute;
    top: 80%;
    left: 0%;
    z-index: 33;
}

#landing-page button.close span {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
}

#landing-page img {
    width: 100% !important;
}

@media only screen and (max-width: 1024px) {
    .carousel-indicators.sectwo {
        right: inherit;
        left: 0;
        margin-left: 45%;
        bottom: 1%;
    }

    .carousel-indicators.secsix {
        right: inherit;
        left: 0;
        margin-left: 45%;
        bottom: 1%
    }
}

@media only screen and (min-width: 768px) {
    .story::before {
        content: '•';
        position: absolute;
        bottom: 0;
        color: #bfbfbf;
        top: -6%;
        font-size: 23px;

    }

}

@media only screen and (max-width: 559px) {
    .setwhatincategorytextsmall {
        margin-top: 50% !important;
    }
}



.carousel-indicators li {
    background-color: rgba(217, 211, 211, 0.5) !important;
}

.carousel-indicators.sectwo li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #bbb;
}

.carousel-indicators.sectwo li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #ccc;
}

.carousel-indicators .active {
    border: 2px solid #000 !important;

}

.btnscrolldown {
    width: 8%;
    position: relative;
    top: 0;
    margin-top: -60px;
    left: 46%;
    z-index: 15;
}

@media screen and (max-width: 960px) {
    .btnscrolldown {
        width: 15%;
        position: relative;
        top: -8px;
        margin-top: -38px !important;
        left: 41%;
        z-index: 1;
    }

    #mySidenav a {
        padding-left: 0px;
        margin-left: 58px;
    }

    .setstorytextmain {
        font-size: 25px !important;
    }
}

.setheightbigsecthree {
    width: 100%;
    min-height: 507px;
}

.setheightothersecthree {
    width: 100%;
    min-height: 245px;
    object-fit: cover;
    /* max-height: 245px; */
}

.persmegtive {
    margin-top: 5rem !important;
}


/* .text-presmegtive{
position: absolute;
top: 5%;
left: 5%;
font-size: 20px;
color: #fff;
background-color: #333333;
opacity: 0.6;
padding: 4px;
border-radius: 4px;
} */
.img-persmegtive-mobile {
    width: 100%;
    height: 315px;
    object-fit: cover;
}

.img-news-mobile {
    width: 100%;
    height: auto;
}

#new-slide {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#mainpic img.img_zoom_set {
    max-width: 100%;
    max-height: 300px !important;
    margin-left: auto;
    margin-right: auto
}

.slick-mobile img {
    max-width: 100% !important;
    max-height: 80px !important;
    margin-left: auto;
    margin-right: auto
}

@media screen and (min-width:768px) {
    .img-persmegtive-mobile {
        height: 708px !important;
    }

    .carousel-indicators.slidepersmeg {
        margin-right: 45% !important;
    }

}

@media screen and (max-width: 960px) {
    #mainpic img {
        max-width: 100%;
        max-height: 210px !important;
    }

    .setheightbigsecthree {
        width: 100%;
        min-height: auto;
    }

    .setheightothersecthree {
        width: 100%;
        min-height: 164.5px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    figure {
        margin: 0 0 0rem !important;
    }

    .persmegtive {
        margin-top: 2rem !important;
    }

    .setviewmoresecthree {
        margin-top: -50px !important;
        /* padding: 20px 0 20px 0 !important; */
    }
}

@media screen and (max-width: 767px) {
    .img-fix-detail {
        width: 100% !important;
        height: 90px;
        object-fit: cover;
    }
    #detail iframe {
        max-width: 100% !important;
    }

    iframe {
        max-width: 100% !important;
    }

    .setsubpersmegtive {
        font-size: 30px !important;
    }

    .feature-mobile {
        min-height: 420px !important;
    }

}

.feature-mobile {
    min-height: 700px;
}

.setcaptionsecthree {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 50px;
}

.setdivborderbottom {
    width: 14% !important;
    border-bottom: 2px solid #ccc;
}

.setheadborder {
    border-bottom: 2px solid #bbb;
    padding-bottom: 8px;
}

.settextsectwo1 {
    font-family: gotham_bold !important;
    font-size: 22px;
    /* font-family: sukhumvit !important;
  font-size: 26px; */
    white-space: nowrap;
    letter-spacing: 1px;
    color: #fff;
}

.settextsectwo2 {
    color: #ffffff;
    /* font-family: gotham_book !important; */
    font-family: sukhumvit !important;
    letter-spacing: 3px;
}

.settextsectwo3 {
    /* font-family: gotham_bold !important; */
    font-family: sukhumvit !important;
    letter-spacing: 4px;
    color: #ffffff;

}

a:hover {
    color: #000;
    text-decoration: none;
}

.title-feature-1 {
    font-size: 2.3rem;
}

.title-feature-2 {
    font-size: 1.5em;
}

.title-feature-3 {
    font-size: 1.5em;
}

.title-feature-4 {
    font-size: 1.5em;
}

.settextsectwo4 {
    /* font-family: sukhumvit !important;   */
    font-family: sathon !important;
    font-size: 20px;
    color: #9a9a9a;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.setsubpersmegtive {
    font-family: gotham_bold !important;
    font-size: 50px;
    letter-spacing: 4px;
    color: #000;
    margin-top: 15px;
}

.setmarandpadzero {
    margin: 0;
    padding: 0;
}

.setmarandpadzero figure {
    /* min-height: 540px; */
}

.setmarandpadzero figure img {
    height: 100%;
    width: 100%;
    min-height: 545px;
    max-height: 545px;
}

.setviewmoresecthree {
    position: relative;
    background-color: #b8b8b8;
    margin-top: -20px;
    padding: 30px 0 30px 0;
}

/* Opacity #2 */
.setopa figure {
    background: linear-gradient(#818181, #000);
    overflow: hidden;
}

.setopa figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    /*opacity: .6;*/
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.setopa figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/* .setopa figure:hover img {
opacity: .5;
} */

.setimagesectwo {
    z-index: 16;
    padding: 15px 0px 90px 100px;
}

@media screen and (max-width:960px) {
    .setimagesectwo {
        z-index: 16;
        padding: 15px 30px 50px 30px;
    }
}

.setpadcaptionsectwo {
    padding-left: 30px;
    padding-top: 80px;
}


@media screen and (min-width:1500px) {
    .setpadcaptionsectwo {
        padding-left: 70px;
        padding-top: 170px;
    }
}

@media screen and (min-width:1300px) {
    .setpadcaptionsectwo {
        padding-left: 70px;
        padding-top: 170px;
    }
}

.setheadsection {
    font-family: gotham_bold !important;
    font-size: 30px;
    margin-bottom: 30px;
    color: #fff;
}

section.bgsecseven .setheadsection {
    font-family: gotham_bold !important;
    letter-spacing: 2px;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 0px !important;
}

.setheadsectionsix {
    font-family: gotham_bold !important;
    letter-spacing: 1px;
    font-size: 14px;
    /* margin-bottom: 40px; */
}

a.btn.setbtnreadmore {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border: #e0e0e0 1px solid;
    border-radius: 0px;
    letter-spacing: 2px;
    padding: 10px 45px 10px 45px;

    /* font-size:12px;
  font-family: gotham_book !important; */

    font-size: 14px;
    font-family: sukhumvit !important;
}

a.btn.readmore-product:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    border: #000 1px solid;
    border-radius: 0px;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 35px 10px 35px;
}

a.btn.readmore-product {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border: #e0e0e0 1px solid;
    font-size: 12px;
    border-radius: 0px;
    letter-spacing: 2px;
    padding: 10px 35px 10px 35px;
    font-family: gotham_book !important;
}

a.btn.setbtnreadmore:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffff;
    border: #ffffff 1px solid;
    border-radius: 0px;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 45px 10px 45px;
}

a.btn span.setbtnreadmore {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: #e0e0e0 1px solid;
    border-radius: 0px;
    letter-spacing: 2px;
    padding: 10px 45px 10px 45px;
    /* font-size:12px;
  font-family: gotham_book !important; */
    font-size: 14px;
    font-family: sukhumvit !important;
}

a.btn span.setbtnreadmore:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    border-radius: 0px;
    border: #000 1px solid;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 45px 10px 45px;

}

.setpointer {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.setpointer:hover {
    color: rgb(186, 186, 186);
    text-decoration: none;
    cursor: pointer;
}

.sethighmenu {
    height: 70px;
}

.sethalfauto {
    position: relative;
    margin: 33% 0 0 0;
}

.hamburgur {
    margin: 0 0 0 20px;
    font-size: 30px;
    cursor: pointer;
}

.forcenowrap {
    white-space: nowrap;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
    font-family: gotham_book !important;
}

.sidenav a:hover {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.wrapper {
    overflow: hidden;
}

.wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
    /* optional */
}

.imagesecthree {

    display: block;
    width: 100%;
    /* height: 100%; */
}

.img-persmeg-one {
    height: 558px;
}

.img-persmeg {
    height: 271px;
}

.middlesecthree {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9b9da3;
}

figure:hover .middlesecthree {
    opacity: 0.8;
}

.textsecthree {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: gotham_book !important;
}

.bgsecsix {
    background-image: linear-gradient(#555, #9a9a9a);
}

.bgwhite {
    background-color: #fff;
}

.bgsecseven {
    background: url('../../image/bgsecseven.png');
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

}

@media screen and (min-width: 1024px) {
    .bgsecseven {
        background-size: 100%;
        min-height: 760px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;

    }

    section.bgsecseven .setheadsection {
        font-family: gotham_bold !important;
        letter-spacing: 2px;
        font-size: 25px;
        margin-bottom: 40px;
        padding-top: 8rem;
    }

    .setsmegstory {
        font-size: 2.5rem !important;
        padding-top: 140px;
    }

    .title-feature-1 {
        font-size: 3.6em !important;
    }

    .title-feature-2 {
        font-size: 2em !important;
    }

    .title-feature-3 {
        font-size: 1.6em !important;
    }

    .title-feature-4 {
        font-size: 1em !important;
    }
}


.setthintext {
    font-family: gotham_thin;
    font-size: 60px;
}

.setlogoheadersize {
    position: relative;
    margin: 20px 0 0 0;
}

.setlogofootersize {
    margin-top: 5%;
    max-width: 100%;
    height: auto;
}

.settextthaifootersubject {
    font-family: gotham_book !important;
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 0px;
}

.settextthaifootergray {
    /* line-height: 11pt; */
    font-family: gotham_book !important;
    font-size: 0.9em;
    color: #bebebe;
}

.settelnumber {
    font-family: gotham_book !important;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
    letter-spacing: 1px;
}

.setfootertelpic {
    width: 21px;
}

.setfooterproud {
    width: 235px;
}

@media screen and (max-width: 991px) {
    .setlogofootersize {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .setcenter-responsive {
        text-align: center;
    }

    .img-newslist {
        max-width: 100% !important;
        height: auto !important;
    }
}

.setcopyright {
    font-family: gotham_book;
    font-size: 0.6em;
    color: #ffffff;
}

.setfooterheadstay {
    /* font-family: gotham_bold !important; */
    font-family: sukhumvit !important;
    letter-spacing: 2px;
    font-size: 1.1em;
    color: #000;
    margin-top: 20px;
}



/*
=====
LEVEL 1. RESET STYLES
=====
*/

.field {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input {
    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: 2em;
}

.a-field .field__input:focus {
    outline: none;
}

.field__input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
    opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.field {
    display: inline-block;
}

.field__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field {
    --uiFieldHeight: var(--fieldHeight, 40px);
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);

    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;
}

.a-field .field__input {
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
    font-size: 23px;
}

@media screen and (max-width: 1300px) {
    .a-field .field__input {
        font-size: 20px;
    }

    /* .setmarandpadzero figure{
  height: 420px;
  } */
}




@media screen and (min-width: 1600px) {
    .fix-img-h-home{
		overflow: hidden;
		height: 775px;
	}
}


@media screen and (min-width: 1701px) and (max-width: 1900px) {

    .a-field .field__input {
        font-size: 25px;
    }

    .setmarandpadzero figure img {
        min-height: 623px !important;
        max-height: 623px !important;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {

    .a-field .field__input {
        font-size: 25px;
    }

    .setmarandpadzero figure img {
        min-height: 623px !important;
        max-height: 623px !important;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1599px) {
    .a-field .field__input {
        font-size: 25px;
    }

    .setmarandpadzero figure img {
        min-height: 586px !important;
        max-height: 586px !important;
    }
}

@media screen and (min-width: 1701px) and (max-width: 1799px) {
    .setmarandpadzero figure img {
        min-height: 686px !important;
    }
}

@media screen and (min-width: 1800px) {
    .setmarandpadzero figure img {
        min-height: 710px !important;
        max-height: 710px !important;
    }
}

@media screen and (min-width: 1445px) and (max-width: 1499px) {
    .setmarandpadzero figure img {
        min-height: 573px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .setmarandpadzero figure img {
        min-height: 500px !important;
        max-height: 500px !important;
    }

}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
    .setmarandpadzero figure img {
        min-height: 447px !important;
        max-height: 447px !important;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1099px) {
    .setmarandpadzero figure img {
        min-height: 407px !important;
        max-height: 407px !important;
    }

}


.a-field .field__input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field .field__input::-moz-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field .field__input:not(:placeholder-shown)~.field__label-wrap .field__label {
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
}

.a-field .field__input:focus::-webkit-input-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.a-field .field__input:focus::-moz-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.a-field .field__label-wrap {
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);

    pointer-events: none;
    cursor: text;

    position: absolute;
    bottom: 0;
    left: 0;
}

.a-field .field__label {
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);

    line-height: 1;
    font-size: var(--uiFieldHintFontSize);

    pointer-events: none;
    transition: bottom .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out;
    will-change: bottom, opacity;
}

.a-field .field__input:focus~.field__label-wrap .field__label {
    opacity: 1;
    bottom: var(--uiFieldHeight);
    display: none;
}

/* a-field_a1 */

.a-field_a1 .field__input {
    transition: border-color .2s ease-out;
    will-change: border-color;
}

.a-field_a1 .field__input:focus {
    border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .field__label-wrap:after {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);

    position: absolute;
    bottom: 0;
    left: 0;

    will-change: width;
    transition: width .285s ease-out;
}

.a-field_a2 .field__input:focus~.field__label-wrap:after {
    width: 100%;
}

/* a-field_a3 */

.a-field_a3 {
    padding-top: 1.5em;
}

.a-field_a3 .field__label-wrap:after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;

    opacity: 0;
    border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

    position: absolute;
    bottom: 0;
    left: 0;

    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .field__input:focus~.field__label-wrap:after {
    height: 100%;
    opacity: 1;
}

.a-field_a3 .field__input:focus~.field__label-wrap .field__label {
    bottom: calc(var(--uiFieldHeight) + .5em);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field {
    --fieldBorderColor: #9a9a9a;
    --fieldBorderColorActive: #000;
    padding-top: 0px
}

.setsecsixcontainer {
    padding: 92px 150px 92px 150px
}

@media screen and (max-width: 960px) {
    .setsecsixcontainer {
        padding: 0px;
    }
}

.settextsecsix2 {
    /* font-family: gotham_bold !important;
  font-size: 36px; */
    font-family: sukhumvit !important;
    font-size: 36px;
    letter-spacing: 1px;
}

.settextsecsix3 {
    margin-top: 15px;
    /* font-size: 15px;
  font-family: gotham_book !important; */

    font-size: 16px;
    font-family: sukhumvit !important;
}

.setslideheightsecone {
    height: 500px;
}

.carousel-item {
    /*max-height: 560px;*/
}

@media screen and (max-width: 960px) {
    .setslideheightsecone {
        height: auto;
    }

    .setpadcaptionsectwo {
        padding-bottom: 20px;
        text-align: center;
    }

    .carousel-item {
        max-height: inherit;
    }

    .settextsecsix3 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .settextsectwo2 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .settextsectwo3 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .settextsecsix2 {
        font-size: 26px !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}


@media screen and (max-width:1024px) {
    .setpadcaptionsectwo {
        padding-left: 0px
    }
}



/* Icon 1 */

#nav-icon1 {
    width: 20px;
    height: 45px;
    position: relative;
    margin: 30px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span#cen {
    width: 15px;
    height: 2px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 7px;
}

#nav-icon1 span:nth-child(3) {
    top: 14px;
}

/* #nav-icon1.open span:nth-child(1) {
top: 18px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

#nav-icon1.open span:nth-child(3) {
top: 18px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
} */




/* =============NEWS & EVENT */
.settopnewsevent {
    margin-top: 80px;
    background-color: #f1f1f1;
    padding: 18px 0 18px 0;
}

.setbreadcrumb {
    font-family: gotham_thin;
    font-size: 11px;
    margin-top: 16px;
    float: right;
}

.setlastbreadcrumb {
    font-family: gotham_light !important;
}

.setbordercatenews {
    border: 1px solid #000;
}

.setnewstextsectwo {
    font-family: gotham_light;
    font-size: 14px;
}

.setnewstextdate {
    font-family: gotham_book;
    font-size: 12px;
    color: #ffffff;
}

.setnewstextheadline {
    /* font-family: gotham_bold; */
    font-family: sukhumvit !important;
    /* font-size: 40px; */
    color: #ffffff;
}

.setnewstextheadline1 {
    font-family: gotham_bold;
    font-size: 20px;
    color: #000;
}

.setnewstextheadline2 {
    font-family: gotham_bold;
    font-size: 12px;
    color: #000;
}

.setbulletdate {
    font-size: 9px
}

.setnewstextcatemain {
    font-family: sukhumvit;
    font-size: 12px;
    color: #ccc;
}

.setnewsbtnreadmore {
    font-family: gotham_book;
    font-size: 10px;
    letter-spacing: 2px;
    /* background-color: #fff; */
    border: 1px solid #ffffff;
    color: #ffffff !important;
    padding: 10px 40px 10px 40px;
}

.setnewsbtnreadmore:hover {
    font-family: gotham_book;
    font-size: 10px;
    letter-spacing: 2px;
    background-color: #ffffff;
    color: #000000 !important;
    padding: 10px 40px 10px 40px;
}

.setnewsbordercolright {
    border: #e3e3e3 1px solid;
    padding-bottom: 20px;
}

.setcatagorynews {
    font-family: gotham_book;
    font-size: 14px;
}

.setborderstore {
    border: #ccc 1px solid;
    border-top-color: #fff;
    padding-bottom: 20px;
}

a.store-location-title {
    color: #000;
}

a.store-location-title:hover {
    text-decoration: unset;
    color: #000;
}

.setbranchstore {
    border-bottom: #e4e4e4 1px solid;
    margin-bottom: 20px;
    padding-bottom: 34px;
}

.productlist {
    border-bottom: #e4e4e4 1px solid;
    margin-bottom: 20px;
    padding-bottom: 34px;
}

.setnewstextbreadcrumbleft {
    /* font-family: gotham_bold !important; */
    /* font-size: 30px; */
    color: #000;
    font-family: sukhumvit !important;
    font-size: 32px;
}

.img-newslist {
    width: 750px;
    height: 400px;
    object-fit: cover;
}

.setmglr80res {
    margin-right: 80px;
    margin-left: 80px;
}

@media screen and (max-width:960px) {
    .setmglr80res {
        margin-right: 10px;
        margin-left: 10px;
    }

    .setpdb20res {
        padding-bottom: 20px;
    }
}

.setwidthseven {
    width: 14.285714285714285714285714285714%;
}

@media screen and (max-width:960px) {
    .setwidthseven {
        width: 25%;
    }
}

.setdatenewsdetail {
    font-size: 12px;
}

a.facebook,
a.google-plus {
    color: #000;
}



/* ================ Whatinstore */

#bgwhatinstore {

    /* Full height */
    min-height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnscrolldown.whatinstorebg {
    margin-top: -54px;
}

.setwhatinstoretextmain {
    margin-top: 25%;
    font-family: gotham_bold !important;
    font-size: 30px;
}

.setexclusivetextmain {
    margin-top: 25%;
    font-family: gotham_bold !important;
    font-size: 30px;
}

.setstorytextmain {
    margin-bottom: 25%;
    font-family: gotham_bold !important;
    font-size: 50px;
}

h1.setwhatinstoretextmain,
h1.setstorytextmain {
    letter-spacing: 8px;
}

.setstorytexttop {
    margin-top: 18%;
    font-family: gotham_book !important;
    font-size: 15px;
}

.setstorytexttop2 {
    font-family: gotham_bold !important;
    font-size: 50px;
    letter-spacing: 10px
}

@media screen and (max-width: 560px) {
    .font-sm-text-pro{
        font-size: small;
    }
    .box-detail > P {
        font-family: sathon !important;
        margin-bottom: 0px;
    }
    .setwhatinstoretextmain {
        margin-top: 50%;
        font-family: gotham_bold !important;
        font-size: 30px;
    }

    .btnscrolldown.whatinstorebg {
        width: 20%;
        position: relative;
        top: 0;
        margin-top: -38px;
        left: 40%;
        z-index: 1;
    }
}

.setwhatinstoretextsec2main {
    /* font-family: gotham_book !important; */
    font-family: sukhumvit !important;
    font-size: 24px;
    font-weight: bold;
}

.setwhatinstorebordersec1 {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 30px;
}

.setwhatinstorebordersec1:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
    width: 50px;
    border-bottom: 2px solid #bbb;
}

.setwhatinstoredetail {
    /* font-family: gotham_book !important; */
    font-family: sukhumvit !important;
}

i.far.fa-window-minimize.setter {
    color: #bbb;
    font-size: 50px;
    padding: 30px;
}

/* Circle */
.hoverwhatinstore figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 15px;
}

.hoverwhatinstore figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hoverwhatinstore figure:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.setpositionwhatinstorepic {
    position: absolute;
    top: 0;
    margin-left: 33px;
    margin-top: 35px;
}

.setinpicwhatinstoresec1 {
    font-family: gotham_book !important;
    color: #fff;
    font-size: 28px;
}

.setinpicwhatinstoresec2 {
    color: #fff;
    font-size: 13px;
}

/* ==================whatincategory */

.setpositionrb {
    position: absolute;
    top: 10px;
    left: 10px;
}

.setwhatincategorytextsmall {
    margin-top: 20%;
    font-family: gotham_book !important;
    font-size: 20px;
}

.setwhatincategorytextmain {
    font-family: sukhumvit !important;
    font-size: 2.9em;
    letter-spacing: 4px;
}

.setwhatincatedes {
    font-family: sukhumvit !important;
    font-size: 14px;
}

.setnewstextcatemain.whatincate {
    font-size: 10px;
}

.setwhatinstoretextmain.whatincategory {
    margin-top: 50%;
}

.setwhatinstoretextmain.whatincategory.subproduct {
    margin-top: 20px;
    font-size: 10px;
}

.setborderactivewhatincategory:hover {
    border: #bbb 1px solid;
}

.img-product {
    max-width: 100%;
    max-height: 100%;
}

.setimg-product {
    height: 190px;
}

.setimg-product-main {
    height: 445px;
}

.setpdt-product-main {
    padding-top: 120px;
}

.text-similar {
    font-family: gotham_bold !important;
    letter-spacing: 3px;
}

@media screen and (max-width:960px) {
    .mglr-80.whatincategory {
        margin-left: 10px;
        margin-right: 10px;
    }

    .centerres {
        text-align: center;
    }

    .mgt-40res {
        margin-top: 40px;
    }

    .setwhatincategorytextmain {
        font-size: 1.9em;
    }

    .setwhatinstoretextmain.whatincategory {
        margin-top: 10%;
    }
}


@media screen and (max-width:1024px) {
    .setpadinherit {
        padding: inherit;
    }

    .setpositionrb {
        width: 45px;
    }
}


/* ==================detail product */



.detailpro {
    font-family: gotham_thin !important;
    color: #000;
    font-size: 10px;
}

.setbreadcrumb.detailpro {
    margin-top: 0px;
}

.setpadthumbdetail {
    padding: 10px;
}

.slick-vertical .fa-arrow-circle-up {
    position: absolute;
    right: 45%;
    top: -10%;
}

.slick-vertical .fa-arrow-circle-down {
    position: absolute;
    right: 45%;
    bottom: -7%;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(255, 255, 255) !important;
}

.setprodetailtextid {
    font-family: gotham_bold !important;
    font-size: 30px;
    margin-bottom: 0px;
}

.setprodetailtextcaption {
    font-family: gotham_book !important;
}

.setprodetailtextprice {
    font-family: gotham_book !important;
    font-size: 20px;
}

.setprodetailtextheadline {
    margin-top: 50px;
    font-family: sukhumvit !important;
    font-size: 12px;
}

.setdownloadsubject {
    font-family: gotham_bold !important;
    font-size: 16px;
}

.setdownloadtextfile {
    font-size: 12px;
    margin-bottom: 0px;
}

.setborderdownload {
    border: 1px solid #eee;
    padding: 5px 10px 30px 30px;
    max-height: 220px;
}

.detaildessec2 {
    width: 100%;
}

#descriptiondata {
    margin-top: 20px;
    font-family: sathon !important;
    font-size: 20px;
}

.note-editor .dropdown-toggle::after {
    content: none !important;
}

.file-download {
    font-family: gotham_book !important;
}



.newscontactfooter {
    margin-top: 20px;
    font-family: gotham_light !important;
    font-size: 14px;
}

.setbgfooternews {
    background-color: #676767;
}

.newsheadlinefooter {
    margin-top: 20px;
    font-family: sathonmedium !important;
    font-size: 26px;
}

.newsheadlinelastsec {
    margin-top: 20px;
    font-family: sathon !important;
    font-size: 22px;
}

.setbgfooterlastsec {
    background-color: #000;
}

a.btn.btndetailpro {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: sathon !important;
    border: #fff 1px solid;
    font-size: 12px;
    border-radius: 0px;
    letter-spacing: 2px;
    padding: 5px 40px 5px 40px;
}

a.btn.btndetailpro:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    font-family: sathon !important;
    font-size: 12px;
    border-radius: 0px;
    letter-spacing: 2px;
    padding: 5px 40px 5px 40px;
}

.setbacknewsdetail {
    font-family: gotham_book !important;
    font-size: 14px;
}





.page-item.active .page-link {
    z-index: 1;
    color: #000;
    background-color: #fff;
    border-color: #000;
    border-radius: unset;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #000;
}

.page-link a {
    color: #000;
}

.page-link {
    border: none;
}



a.setnewshome {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.setnewshome img {}

.setbtnviewmap {
    font-size: 12px;
    position: absolute;
    background-color: #000;
    color: #fff;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
    padding: 5px 70px 5px 70px;
}

.setstorebranch {
    border-radius: 3px;
    /* font-family: gotham_book !important;
  font-size: 14px; */
    font-family: sukhumvit !important;
    font-size: 16px;
    position: absolute;
    background-color: #fff;
    color: #000;
    width: 94%;
    border: none;
    top: 85%;
    cursor: pointer;
    left: 3%;
    /* margin-left: 0.9rem !important; */
}

.setbtnviewmap:hover {
    font-size: 12px;
    position: absolute;
    background-color: #fff;
    color: #000;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
    padding: 5px 70px 5px 70px;
}

.setshare {
    /* font-family: gotham_bold !important;
  font-size: 14px; */
    font-family: sukhumvit !important;
    font-size: 16px;
}

.setrelateper {
    font-family: sathon !important;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    color: #626262;
}

.setrelatepertwo {
    font-family: sathon !important;
    font-size: 14px;
    color: #9a9a9a;
    font-style: italic;
}

a.news-latest:hover {
    text-decoration: none;
}

.setpointer.setinlineflex {
    display: inline-flex;
}

.hidden {
    display: none;
}

#valid {
    color: green;
}

#invalid {
    color: red;
}


.setwidthopen {
    width: 550px;
}

.setwidthclose {
    width: 0px;
}

@media screen and (max-width: 960px) {
    .setwidthopen {
        width: 350px;
    }

    .setwidthclose {
        width: 0px;
    }

    .setborderhomefooter {
        border: none !important;
    }
}

a:hover span.setbordermenu {
    border-bottom: 2px solid #bbb;
    padding-bottom: 5px;
    font-family: gotham_book !important;
}

.form-inline .form-control {
    width: 100%;
}

.form-control.list {
    width: auto;
}

.boldtel {
    font-family: gotham_book !important;
}

.btn:focus,
.btn.focus {
    box-shadow: none;
}

.sethomenews {
    /* font-family: gotham_bold !important; */
    font-family: sukhumvit !important;
    margin-bottom: 0px;
}

.sethomenews.one {
    /* font-family: gotham_bold !important; */
    font-family: sukhumvit !important;
    margin-bottom: 5px;
    margin-top: -100px;
}

.setborderhomefooter {
    padding-left: 0px;
    padding-right: 0px;
    border-right: 1px solid #ccc;
}

.setstayhome {
    margin-left: -35px;
}

.textstay {
    color: #9a9a9a;
}

.file-upload-indicator,
.file-preview .close {
    display: none;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}

#video-carousel-example .carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    height: 50%;
    right: 0;
    top: 25%;
}

.carousel-control-prev-icon1,
.carousel-control-next-icon1 {
    background-color: #fff;
}

.carousel-control-prev-icon1.sectwo {
    background-color: #f2f2f2;
}

.st1 {
    fill: #000;
}

.button-muted {
    position: absolute;
    z-index: 99;
    top: 90%;
    left: 5%;
    color: #fff;
    font-size: 18px;
    font-family: gotham_book;
}

/* .hamone{
background-color: #fff !important;
}
.cen{
background-color: #fff !important;
}
.hamthree{
background-color: #fff !important;
} */
.enter-site1 {
    position: absolute;
    z-index: 99;
    top: 74%;
}

.enter-site2 {
    position: absolute;
    z-index: 99;
    top: 94%;
}

.btn-landing {
    background-color: #b22130;
    border-color: #b22130;
    font-weight: bold;
    border-radius: 0.8rem;
    padding: 0.3rem 1.5rem;
    color: #fff;
    font-size: 32px;
}

#detail img {
    max-width: 100% !important;
}

#detail p,
#detail div,
#detail div,
#detail span,
#detail h1,
#detail h2,
#detail h3,
#detail h4,
#detail h5,
#detail h6 {
    line-height: 35px;
    font-family: sathon !important;
    font-size: 20px !important;
}

#search-clear {
    text-decoration: none;
    position: absolute;
    top: 30px;
    color: #b3b3b3;
}

/* .btn-landing-small{
background-color: #b22130;
font-weight: bold;
border-radius: 0.8rem;
padding: 0.3rem 1.5rem;
color: #fff;
font-size: 12px;
} */

a.btn-landing:hover {
    color: #fff;
    background-color: #a00717;
}

.btn-product-list {
    background-color: #561b1f;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.6rem 3.2rem;
    color: #fff;
}

.btn-enter-site {
    background-color: #b22130;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.6rem 3.6rem;
    color: #fff;
}

a.store_map {
    color: #000;
}

.review-mobile {
    min-height: 600px;
}

.img-review {
    min-height: 100%;
    max-height: 100%;
}

.setaddress {
    font-family: sathon;
    font-size: 19px;
    color: #a9a9a9;
}

#search-store {
    /* position: absolute !important;
  left: 74% !important;
  bottom: 30% !important; */
    color: #3e3f40;
}

a.title-news:hover {
    text-decoration: unset;
}

.title-detail {
    font-weight: bold;
    font-family: sathon !important;
}

.font-detail {
    font-size: 20px;
    font-family: sathon !important;
}

.text-line {
    /* font-family: gotham_book !important; */
    /* font-size: 12px; */
    font-family: sukhumvit !important;
    font-size: 14px;
}

.setbreadcrumb.text-line {
    margin-top: 0px;
}

a.top-page {
    color: #797979;
}

.img-review-list {
    height: 350px;
    object-fit: cover;
}

.contact-store {
    font-family: gotham_book !important;
}

.img-store-list {
    height: 350px;
    object-fit: cover;
}

.search_store {
    font-family: gotham_book !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    font-family: gotham_book;
}

/* catalog */
.catalog {
    height: 320px;

}

.catalog-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.catalog:hover .overlay {
    opacity: 1;
}

.catalog:hover .catalog-img {
    opacity: 0.3;
}

.overlay {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%;
  width: 100%; */
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.catalog-title {
    text-align: center;
    /* font-size: 14px;
  font-family: gotham_book !important; */

    font-size: 16px;
    font-family: sukhumvit !important;
}

.download-pdf {
    padding: 9px 17px;
    position: absolute;
    color: #fff;
    font-size: 14px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background: #000;
    font-family: gotham_book !important;
    border-radius: 3px;
}

a.download-pdf:hover {
    color: #FFF;
    text-decoration: unset;
}

.img-latest {
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.persmegtive figure {
    position: relative;
    margin: 0 0 0rem !important;
}

.img-persmegtive-1 {
    display: block;
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.instagram {
    margin-top: 5rem;
}


/*----- Sticky Menu --------*/
@media screen and (max-width:767px) {
    footer {
        margin-bottom: 100px !important;
        padding-bottom: 100px !important;
    }

    .mobiler-6 .stickyicon-mo {
        /* margin-left: -5px; */
    }
}

#wh-widget-send-button,
#wh-widget-send-button-wrapper {
    display: none;
}

.sticky {
    position: fixed;
    z-index: 99999;
    top: 35%;
    /*right: -245px;*/
    right: -260px;
    width: 300px;
}

.stickyitem {
    cursor: pointer;
    margin-bottom: 1px;
    padding: 2px 40px 2px 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 50px;
}

.stickyitem:hover {
    transform: translateX(-200px);
}

.stickyicon {
    /*max-width: 45px;
    max-height: 45px;*/
    max-width: 32px;
    max-height: 32px;
}



.sticky-mo {
    width: 100%;
    position: fixed;
    bottom: -17px;
    z-index: 999;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.stickyitem-mo {
    max-width: 100%;
    height: max-content;
    padding: 5px;
    opacity: 0.9;
}

.stickyitem-mo p {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stickytxt-mo {
    font-size: 0.8rem;
    opacity: 0.9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stickyicon-mo {
    /*max-width: 100%;*/
    width: 32px;
    height: 32px;
}

.stk {
    background: url('../image/sticky/bg_shadow.jpg');
    background-size: cover;
    background-position: bottom;
}

.mobiler-6 {
    width: 20%;
    float: left;
    bottom: 0;
    border-left: 1px solid #fff;
}

.mobiler-6 .stickyitem-mo {
    padding: 0 20px 0px 20px !important;
}

.mobiler-6:first-child {
    border-left: none !important;
}

.mobiler-5 {
    width: 20%;
    float: left;
    bottom: 0;
    border-left: 1px solid #fff;
}

.mobiler-5 .stickyitem-mo {
    /*padding: 8px !important;*/
    padding: 0 20px 0px 20px !important;
}

.mobiler-5:first-child {
    border-left: none !important;
}

.mobiler-4 {
    width: 25%;
    float: left;
    bottom: 0;
    border-left: 1px solid #fff;
}

.mobiler-4 .stickyitem-mo {
    padding: 0 20px 0px 20px !important;
}

.mobiler-4:first-child {
    border-left: none !important;
}

.mobiler-3 {
    width: 33.33%;
    float: left;
    bottom: 0;
    border-left: 1px solid #fff;
}

.mobiler-3 .stickyitem-mo {
    padding: 0 35px 0px 35px !important;
}

.mobiler-3:first-child {
    border-left: none !important;
}

.mobiler-2 {
    width: 50%;
    float: left;
    bottom: 0;
    border-left: 1px solid #fff;
}

.mobiler-2 .stickyitem-mo {
    padding: 0 67px 0px 67px !important;
}

.mobiler-2:first-child {
    border-left: none !important;
}

.mobiler-1 {
    width: 100%;
    float: left;
    bottom: 0;
    border-left: 1px solid #fff;
}

.mobiler-1 .stickyitem-mo {
    padding: 0 160px 0px 160px !important;
}

.mobiler-1:first-child {
    border-left: none !important;
}

/*gia*/

.zoom {
  transition: transform .5s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.generalText .generalTextFocus__textBlock {
        font-size: 25px !important;
        font-weight: 300;
        line-height: 40px !important;
        position: relative;
}
.h-setshare{
        height: 410px;
        overflow: hidden;
    }



@media (min-width: 768px){
    .text-bg-haed {
        position: absolute;
        top: 10%!important;
        left: 10%;
    }
  


}


@media (min-width: 1200px){
     .text-bg-haed {
        position: absolute;
        top: 45%!important;
        left: 10%;
    }


}

@media (max-width: 1024px){
    .h-setshare{
        height: 55vmin;
        overflow: hidden;
    }
      #bgwhatinstore {
        min-height: 70%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 767.98px){
    .h-setshare{
        height: 121vmin;
        overflow: hidden;
    }
    .img-moblie{
        width: 100 !important;
        height: 625px;
        object-fit: cover;
    }
    .generalText .generalTextFocus__textBlock {
        font-size: 15px!important;
        font-weight: 300;
        line-height: 25px!important;
        position: relative;
    }

     .text-bg-haed {
        position: absolute;
        top: 25%!important;
        left: 10%;
    }

}
@media only screen and (max-width: 768px) {
    .hidden-lg {
      display: block !important
    }
  }


  /* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }



  .setheightnewspixall{
    overflow: hidden;

  }