
/* HEADER SECTION */
.owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 80px !important;
  }

  @media (min-width: 992px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
      top: 40% !important;
      max-width: 100%;
    }
  }

  @media (max-width: 767.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
      font-size: 40px !important;
    }
  }

  @media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-forth {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow-y: hidden !important;
    }
  }

/* ANIMATION IMAGE WATER  */
.motion-water {
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* SECTION TBC V2 INVESTMENT */
/*Tabs*/
ul.tab-menu {
    text-align: center;
    margin: 40px 0;
    top: 50px;
    z-index: 1;
  }
  
  @media screen and (max-width: 767px) {
    ul.tab-menu {
      margin: 20px 0;
    }
  }
  ul.tab-menu li {
    display: inline-block;
  }
  
  @media screen and (max-width: 767px) {
    ul.tab-menu li {
      margin: 0;
      width: 100%;
    }
  }
  ul.tab-menu li a {
    display: block;
    color: rgb(219, 219, 219);
    border: 2px solid;
    border-radius: 50px;
    padding: 10px 20px;
    /* max-width: 300px; */
    margin: 5px;
    font-weight: 700;
    /* text-decoration: none;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase; */
    letter-spacing: 1px;
  }
  
  @media screen and (max-width: 767px) {
    ul.tab-menu li a {
      margin: 10px auto;
      width: 100%;
    }
  }
 
  /*Data tabs */
  [data-click].active {
    background: #ffa45c;
    color: #ffffff;
    border-radius: 50px;
    border: 2px solid #ffa45c;
  }
  
  [data-target] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-target].active {
    opacity: 1;
    visibility: visible;
    position: relative;
    top: auto;
    transition: 0.3s;
    transform: translate3d(0px, 0, 0);
  }
  
  

.hero-container {
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100vh;
    z-index: 0;
}

.hero-shapes {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1;
}

.circles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.shape--circle {
    /* background-image: url('/images/glass.png'); */
    position: absolute;
    /* background-color: #dfcdfd; */
    border-radius: 100%;
}

#circ-1 {
    bottom: -200px;
    left: -50px;
    width: 200px;
    height: 600px;
    animation: slideFromLeft 2s cubic-bezier(.83,.14,.21,1.01) forwards;
}

#circ-2 {
    top: -100px;
    right: -50px;
    width: 300px;
    height: 300px;
    animation: slideFromRight 2s cubic-bezier(.83,.14,.21,1.01) forwards;
}

.hero-content {
    position: relative;
    top: 0;
    z-index: 4;
    height: 100%;
}








